<div class="container">
  <%= form_with model: @customer, url: { controller: "customer/customers", action: "update" }, method: :PATCH, local: true do |f| %>
    <%= render "layouts/error_messages", resource: @customer %>
    <h3>会員情報編集</h3>
    <table class="address">
      <tr class="address">
        <td class="address"><%= f.label :"名前" %></td>
        <td class="address"><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %></td>
        <td class="address"><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %></td>
      </tr>
      <tr class="address">
        <td class="address"><%= f.label :"フリガナ" %></td>
        <td class="address"><%= f.text_field :ruby_last_name, autofocus: true, autocomplete: "ruby_last_name" %></td>
        <td class="address"><%= f.text_field :ruby_first_name, autofocus: true, autocomplete: "ruby_first_name" %></td>
      </tr>
      <tr class="address">
        <td class="address"><%= f.label :postal_code, "郵便番号" %></td>
        <td class="address"><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %></td>
      </tr>
      <tr class="address">
        <td class="address"><%= f.label :address, "住所" %></td>
        <td colspan="2" class="address"><%= f.text_field :address, autofocus: true, autocomplete: "address", size: "50" %></td>
        <td class="address"></td>
      </tr>
      <tr class="address">
        <td class="address"><%= f.label :phone_number, "電話番号" %></td>
        <td class="address"><%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %></td>
      </tr>
      <tr class="address">
        <td class="address"><%= f.label :email, "メールアドレス" %></td>
        <td class="address"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
      <tr class="address">
        <td class="address"></td>
        <td class="address"><%= f.submit "変更内容を保存", class: "btn btn-success" %></td>
        <td class="address"></td>
        <td class="address"><%= link_to "退会する", customers_goodbye_path, class: "btn btn-danger" %></td>
      </tr>
    </table>
  <% end %>
</div>