<div class="container">
  <h2>注文情報確認</h2>
  <div class="row">

    <div class="col-md-9">
      <table class="table">
        <thead class="thead-lignt">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @sum = 0 %>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td class="text-left">
                <%= attachment_image_tag( cart_item.item, :image, size: "60x30", fallback: "nagano.png") %>
                <%= cart_item.item.name %>
              </td>
              <td class="text-left">
                <%= cart_item.item.price %>
              </td>
              <td class="text-left">
                <%= cart_item.amount %>
              </td>
              <td class="text-left">
                <%= cart_item.subtotal %>
              </td>
            </tr>
          <% @sum += cart_item.subtotal %>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-3">
     <table class="table">
          <tr>
            <th>送料</th>
            <td class="text-right">￥<%= @order.postage %></td>
          </tr>
          <tr>
            <th>商品合計</th>
            <td class="text-right">￥<%= @sum %></td>
          </tr>
          <tr>
            <th>請求金額</th>
            <td class="text-right">￥<%= @sum + @order.postage %></td>
          </tr>
      </table>
    </div>

      <div class="col-md-9">
      <table class="table table-borderless">
        <tr>
          <th>支払方法</th>
          <td class="text-left">
            <%= @order.pay_way %>
          </td>
        </tr>
        <tr>
          <th>お届け先</th>
          <td class="text-left">
            〒<%= @order.postal_code %> <%= @order.address %><br>
            <%= @order.name %>
          </td>
        </tr>
      </table>
      </div>

      <div class="col-md-12 text-center">
        <%= link_to "注文を確定する", thanks_orders_path, class: "btn btn-success col-xs-5" %>
      </div>

  </div>
</div>