<div class="container">
  <h2><i class="fas fa-search"></i> 注文情報確認</h2>
  <div class="row">

    <div class="col-md-9">
      <table>
        <thead class="thead-lignt">
          <tr>
            <th class="table-danger">商品名</th>
            <th class="table-danger">単価(税込)</th>
            <th class="table-danger">数量</th>
            <th class="table-danger">小計</th>
          </tr>
        </thead>
        <tbody>
          <% @sum = 0 %>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td class="text-left">
                <%= attachment_image_tag( cart_item.item, :image, size: "60x30", fallback: "nagano.png") %>
                <%= cart_item.item.name %>
              </td>
              <td class="text-left">
                ￥<%= cart_item.item.add_tax_price.to_s(:delimited) %>
              </td>
              <td class="text-left">
                <%= cart_item.amount %>
              </td>
              <td class="text-left">
                ￥<%= cart_item.subtotal.to_s(:delimited) %>
              </td>
            </tr>
          <% @sum += cart_item.subtotal %>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-3">
     <table>
          <tr>
            <th class="table-danger">送料</th>
            <td class="text-right">￥<%= @order.postage.to_s(:delimited) %></td>
          </tr>
          <tr>
            <th class="table-danger">商品合計</th>
            <td class="text-right">￥<%= @sum.to_s(:delimited) %></td>
          </tr>
          <tr>
            <th class="table-danger">請求金額</th>
            <% @order.total_price = @sum + @order.postage %>
            <td class="text-right">￥<%= @order.total_price.to_s(:delimited) %></td>
          </tr>
      </table>
    </div>

      <div class="col-md-9">
      <table class="table table-borderless">
        <tr>
          <th>支払方法</th>
          <td class="text-left">
            <%= @order.pay_way %>
          </td>
        </tr>
        <tr>
          <th>お届け先</th>
          <td class="text-left">
            〒<%= @order.postal_code %> <%= @order.address %><br>
            <%= @order.name %>
          </td>
        </tr>
      </table>
      </div>

      <div class="col-md-12 text-center">
        <%= form_with model:@order, url: orders_path, method: :post do |f| %> 
          <%= f.hidden_field :pay_way %>
          <%= f.hidden_field :postal_code %>
          <%= f.hidden_field :address %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :total_price %>
          <%= f.hidden_field :ship, value: @ship %>
          <%= f.submit "注文を確定する", class: "btn btn-success col-xs-5" %>
        <% end %>
      </div>

  </div>
</div>