
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-10">
          <div class="d-flex">
    				<h4 class="mr-3"><i class="fas fa-candy-cane"></i> ジャンル検索</h4>
    					  <select name="select" onChange="location.href=value;", class="mb-3">
    					    <option value="#">ジャンル選択</option>
    					    <% @genres.each do |genre| %>
    					      <option value= <%= item_search_path(genre) %> ><%= genre.name %></option>
    					    <% end %>
    					  </select>
    			</div>
          <div class="d-flex mb-3 mt-3">
            <h3><i class="fas fa-birthday-cake"></i> 商品一覧</h3>
            &nbsp;<h4>(全<%= @items.count %>件)</h4>
          </div>
          <div class="container">
            <div class="row">
              <% @items.each do |item| %>
                <div class="mt-3 col-lg-3">
                  <%= link_to item_path(item) do %>
                    <%= attachment_image_tag item, :image, fallback:'/assets/nagano.png' %>
                  <% end %>
                  <p class="mt-3 mb-3"><%= item.name %></p>
                  <% if item.sell_status == true %>
                    <p class="mt-3 mb-3">￥<%= item.price.to_s(:delimited)  %></p>
                  <% elsif item.sell_status == false %>
                    <p class="soldout"><i class="fas fa-times"></i> sold out</p>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        
        <%= paginate @items %>
        
    </div>
</div>
