<div class="container">
  <div class="row">

    <h2 class="col-md-10">会員一覧</h2>
    <table class="table mx-auto">
      <thead>
        <tr>
          <th class="table-danger">会員ID</th>
          <th class="table-danger">氏名</th>
          <th class="table-danger">メールアドレス</th>
          <th class="table-danger">ステータス</th>
        </tr>
      </thead>
        <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td>
            <%= link_to admins_customer_path(customer) do %>
              <%= customer.last_name %> <%= customer.first_name %>
            <% end %>
          </td>
          <td><%= customer.email %></td>
          <td>
            <% if customer.is_deleted == false %>
              <div class="text-success">有効</div>
            <% else %>
              <div class="text-secondary">退会</div>
            <% end %>
          </td>
        </tr>
        <% end %>
      </table>
      
      <%= paginate @customers %>

  </div>
  </div>
