<div class="container">
  <div class="row">
    <div class="d-flex">
      <h2 class="mb-3 mr-5">商品一覧</h2>
      <%= link_to new_admins_item_path, class: "text-right" do %>
        <i class="fas fa-plus-square fa-2x"></i>
      <% end %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th class="table-danger">商品ID</th>
          <th class="table-danger">商品名</th>
          <th class="table-danger">税抜価格</th>
          <th class="table-danger">ジャンル</th>
          <th class="table-danger">ステータス</th>
        </tr>
      </thead>
      <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td>
          <%= link_to item.name, admins_item_path(item) %>
        </td>
        <td>￥<%= item.price.to_s(:delimited) %></td>
        <td><%= item.genre.name %></td>
        <td>
          <% if item.sell_status == true %>
            <div class="text-success">販売中</div>
          <% else %>
            <div class="text-secondary">販売停止中</div>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
  <%= paginate @items %>
</div>