<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p>
                ようこそ、ながのCAKEへ！<br>
                このサイトは、ケーキ販売のECサイトになります。<br>
                会員でない方も商品の閲覧はできますが、<br>
                購入には会員登録が必要になります。
            </p>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h1>新着商品</h1>
            <div>
                <%= image_tag 'nagano.png' %>
            </div>
            <div>
                <%= image_tag 'nagano.png' %>
            </div>
            <div>
                <%= image_tag 'nagano.png' %>
            </div>
            <div>
                <%= image_tag 'nagano.png' %>
            </div>
            <%= link_to "全ての商品を見る＞", sweets_index_path %>
        </div>
    </div>
</div>

