<div class="container">
  <h2>注文履歴一覧</h2>
  <div class="row">
      <!--order_detailsのインスタンス変数を受け取る-->
      <div class="col-md-10">
      <table class="table">
        <thead class="thead-lignt">
          <tr>
            <td>購入日時</td>
            <td>購入者</td>
            <td>注文個数</td>
            <td>注文ステータス</td>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <tr>
            <td>
              <%= link_to admins_order_path(order.id) do %>
                <%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
              <% end %>
            </td>
            <td><%= order.customer.first_name %><%= order.customer.last_name %></td>
            <td><%= order.order_details.count %></td>
            <td><%= order.order_status %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

  </div>
  </div>
  </div>