
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-lg-8 offset-lg-2 d-flex">
            <%= attachment_image_tag @item, :image %>
            <div class="flex-column ml-5">
              <h2><%= @item.name %></h2>
              <p><%= @item.content %></p>
              <p><%= @item.price %></p>
            <div class="row">
              <p class="mr-3">個数</p>
              <%= form_with model: @cart_item, url:item_path(@item), method: :patch, local:true do |f| %>
                  <%= f.select :amount, [1, 2, 3, 4, 5], {include_blank: '個数選択'}, class: 'sample' %>
                  <%= f.submit "カートに入れる", class: "btn btn-success" %>
              <% end %>
            </div>
            </div>
        </div>
    </div>
</div>
