<div class="container">
  <div class="row">

    <p>ショッピングカート</p>
    <p class="ml-auto"><%= link_to "カートを空にする", destroy_all_customer_cart_items_path(@customer), method: :delete, class: "btn btn-danger" %></p>

    <table class="table">
      <tr class="table-danger">
        <th style="width:40%">商品名</th>
        <th style="width:15%">単価（税込）</th>
        <th style="width:14%">数量</th>
        <th style="width:16%">小計</th>
        <th style="width:15%"></th>
      </tr>
      <% @sum = 0 %>
      <% @cart_item.each do |cart_item| %>
      <tr>
        <td><%= cart_item.item.name %></td>
        <td><%= cart_item.item.price %></td>
        <td>
        <%= form_with model: cart_item, url:customer_cart_item_path(@customer, cart_item), local:true do |f| %>
          <%= f.select :amount, [1, 2, 3, 4, 5], {include_blank: cart_item.amount } %>
          <%= f.submit "変更", class: "btn btn-success" %>
        <% end %>
        </td>
        <td><%= cart_item.subtotal %></td>
        <td class="text-center"><%= link_to "削除する", customer_cart_item_path(@customer, cart_item), method: :delete, class: "btn btn-danger" %></td>
      </tr>
      <% @sum += cart_item.subtotal %>
      <% end %>
    </table>
    
    <p><%= link_to "買い物を続ける", items_path, class: "btn btn-primary" %></p>
      
    <table class="table ml-auto col-4">
      <tr>
        <td class="table-danger">合計金額</td>
        <td><%= @sum %></td>
      </tr>
    </table>
  </div>

  <div class="row">
    <p class="mx-auto"><%= link_to "入力情報に進む", customer_orders_path(@customer), class: "btn btn-success" %></p>
  </div>

</div>