<div class="container">
  <div class="row">
    <% if @cart_item.present? %>
    <h3><i class="fas fa-shopping-cart"></i> ショッピングカート</h3>
    <p class="ml-auto"><%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete, class: "btn btn-danger" %></p>

    <table class="table">
      <tr class="table-danger">
        <th style="width:40%">商品名</th>
        <th style="width:15%">単価（税込）</th>
        <th style="width:14%">数量</th>
        <th style="width:16%">小計</th>
        <th style="width:15%"></th>
      </tr>
      <% @sum = 0 %>
      <% @cart_item.each do |cart_item| %>
      <tr>
        <td><%= cart_item.item.name %></td>
        <td>￥<%= cart_item.item.add_tax_price.to_s(:delimited) %></td>
        <td>
        <%= form_with model: cart_item, url:cart_item_path(cart_item), local:true do |f| %>
          <%= f.select :amount, [1, 2, 3, 4, 5], {include_blank: cart_item.amount } %>
          <%= f.submit "変更", class: "btn btn-success" %>
        <% end %>
        </td>
        <td>￥<%= cart_item.subtotal.to_s(:delimited) %></td>
        <td class="text-center"><%= link_to "削除する", cart_item_path(cart_item), method: :delete, class: "btn btn-danger" %></td>
      </tr>
      <% @sum += cart_item.subtotal %>
      <% end %>
    </table>
    
    <p><%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %></p>
      
    <table class="table ml-auto col-4">
      <tr>
        <td class="table-danger">合計金額</td>
        <td>￥<%= @sum.to_s(:delimited) %></td>
      </tr>
    </table>
  </div>

  <div class="row">
    <p class="mx-auto"><%= link_to "入力情報に進む", new_order_path, class: "btn btn-success" %></p>
  </div>
  <% else %>
  <div class="d-flex flex-column mx-auto">
    <h2>お客様のカートに商品はありません。</h2>
     <p class="flex mx-auto mt-2">お買い物を続ける場合は<%= link_to "コチラ", items_path %>を押してください。</p>
  </div>
  <% end %>
</div>