<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

   <header>
       <h3>
          <a href="/"><img src="/assets/nagano.png"></a>
       </h3>
       <nav>
          <ul>
            <% if customer_signed_in? %>
              <!--<li>ようこそ、<= customer.name %>さん！</li>-->
            <% end %>
            <% if customer_signed_in? %>
              <%= link_to "#", class: "nav text-decoration-none text-center" do %>
                <li class="nav">マイページ</li>
              <% end %>
              <%= link_to "#", class: "nav text-decoration-none text-center" do %>
                <li class="nav text-center">商品一覧</li>
              <% end %>
              <%= link_to "#", class: "text-decoration-none text-center" do %>
                <li class="nav">カート</li>
              <% end %>
              <%= link_to destroy_customer_session_path, method: :delete, class: "text-decoration-none text-center" do %>
                <li class="nav">ログアウト</li>
              <% end %>
            <% elsif admin_signed_in? %>
              <%= link_to admins_items_path, class: "nav text-decoration-none text-center" do %>
                <li class="nav">商品一覧</li>
              <% end %>
              <%= link_to admins_customers_path, class: "nav text-decoration-none text-center" do %>
                <li class="nav">会員一覧</li>
              <% end %>
              <%= link_to admins_order_details_path, class: "nav text-decoration-none text-center" do %>
                <li class="nav">注文履歴一覧</li>
              <% end %>
              <%= link_to admins_genres_path, class: "nav text-decoration-none text-center" do %>
                <li class="nav">ジャンル一覧</li>
              <% end %>
              <%= link_to destroy_admin_session_path, method: :delete, class: "nav text-decoration-none text-center" do %>
                <li class="nav">ログアウト</li>
              <% end %>
            <% else %>
              <%= link_to homes_path, class: "nav text-decoration-none text-center" do %>
                <li class="nav text-center">About</li>
              <% end %>
              <%= link_to customers_items_path, class: "nav text-decoration-none text-center" do %>
                <li class="nav text-center">商品一覧</li>
              <% end %>
              <%= link_to new_customer_registration_path, class: "nav text-decoration-none text-center" do %>
                <li class="nav">新規登録</li>
              <% end %>
              <%= link_to new_customer_session_path, class: "nav text-decoration-none text-center" do %>
                <li class="nav">ログイン</li>
              <% end %>
            <% end %>
          </ul>
       </nav>
    </header>

    <div class="yield">
    <%= yield %>
    </div>
  </body>
</html>
