<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <header>
       <h3>
          <a href="/"><img src="/assets/nagano.png"></a>
       </h3>
       <nav>
          <ul>
            <% if customer_signed_in? %>
              <p class="mt-auto">ようこそ、<%= current_customer.last_name %>さん！</p>
            <% end %>
            <% if customer_signed_in? %>
              <%= link_to customers_path, class: "nav text-decoration-none" do %>
                <li>マイページ</li>
              <% end %>
              <%= link_to items_path, class: "nav text-decoration-none text-center" do %>
                <li>商品一覧</li>
              <% end %>
              <%= link_to cart_items_path, class: "nav text-decoration-none text-center" do %>
                <li>カート</li>
              <% end %>
              <%= link_to destroy_customer_session_path, method: :delete, class: "nav text-decoration-none text-center" do %>
                <li>ログアウト</li>
              <% end %>
            <% elsif admin_signed_in? %>
              <%= link_to admins_items_path, class: "nav text-decoration-none text-center" do %>
                <li>商品一覧</li>
              <% end %>
              <%= link_to admins_customers_path, class: "nav text-decoration-none text-center" do %>
                <li>会員一覧</li>
              <% end %>
              <%= link_to admins_order_index_path, class: "nav text-decoration-none text-center" do %>
                <li>注文履歴一覧</li>
              <% end %>
              <%= link_to admins_genres_path, class: "nav text-decoration-none text-center" do %>
                <li>ジャンル一覧</li>
              <% end %>
              <%= link_to destroy_admin_session_path, method: :delete, class: "nav text-decoration-none text-center" do %>
                <li>ログアウト</li>
              <% end %>
            <% else %>
              <%= link_to homes_about_path, class: "nav text-decoration-none text-center" do %>
                <li>About</li>
              <% end %>
              <%= link_to items_path, class: "nav text-decoration-none text-center" do %>
                <li>商品一覧</li>
              <% end %>
              <%= link_to new_customer_registration_path, class: "nav text-decoration-none text-center" do %>
                <li>新規登録</li>
              <% end %>
              <%= link_to new_customer_session_path, class: "nav text-decoration-none text-center" do %>
                <li>ログイン</li>
              <% end %>
            <% end %>
          </ul>
       </nav>
        <% if admin_signed_in? %>
          <input type="search" value="Search" />
        <% end %>
    </header>
    <div class="yield">
      <%= yield %>
    </div>
<<<<<<< HEAD
=======
    <footer><small>&copy;2021 SnowMen</a</footer>
>>>>>>> origin/develop
  </body>
</html>
